.header__topheader {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.header__topheader .header__logo {
  width: 20px;
  height: 20px;
  color: var(--color-typo-secondary);
  color: white;
}
